@use "variables" as var;

.addDate-main{

    padding-left: var.$phone-main-margin;
    padding-right: var.$phone-main-margin;
    height: 100vh;
    display: flex;
    flex-direction: column;

    .addDate-submit{
        border: 0px;
        padding: 5px;
        margin-left: auto;
        margin-right: auto;
        background-color: var.$main-red;
        border-radius: 10px;
        color: white;
        width: 100px;
    }

    h1{
        color: var.$main-yellow ;
        width: 100%;
        background-color: white;
        position: fixed;
        padding-top: 35px;
        font-weight: 900;
        font-family: "epilogue", sans-serif;
        z-index: 2;
    }

    h2{
        padding-top: 100px;
    }

    #addDate-input{
        border-radius: 10px;
        width: 75px;
        height: 75px;
        background-color: rgba(128, 128, 128, 0.26);
        border: 0px;
        color: white;
        font-size: 30px;
        display: flex;

        svg{
            margin: auto;
        }
    }

    .addDate-list{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 30px;
        margin-bottom: 50px;
        margin-top: 40px;

        .addDate-item{
            width: 75px;
            height: 75px;
            border-radius: 10px;
            background-color: rgba(128, 128, 128, 0.26);
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: 100%;

            button{
                grid-row: 1;
                grid-column: 1;
                z-index: 1;
                width: 25px;
                height: 25px;
                border-radius: 25px;
                border: 0px;
                background-color: var.$main-red;
                margin-left: 60px;
                color: white;
                display: flex;
                font-size : 12px;

                svg{
                    margin: auto;
                }
            }

            .addDate-content{
                grid-row: 1;
                grid-column: 1;
                display: flex;
                flex-direction: column;
                padding: 10px;
            }

            p{
                font-size: 16px;
                margin: auto;
            }
        }
    }
}

@media screen and (min-width: 800px) and (orientation: landscape){

    .addDate-main{
        margin-left: 25vw;
        margin-right: 25vw;

        h1{
            width: 50vw;
            text-align: center;
        }
    }
    

}