@use "variables" as var;

#AP-main{
    margin-top: 35px;
    margin-left: 20px;
    margin-right: 20px;

    h1{
        font-family: "Epilogue", sans-serif;
        font-weight: 800;
        font-size: 32px;
    }
}

#AP-profile{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 20% 20% 20%;
    width: 100%;
    margin-top: 50px;

    img{
        width: 200px;
        height: 200px;
        border-radius: 100px;
        object-fit: cover;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
        grid-column: 1;
        grid-row: 1 / 3;
        z-index: 1;
    }
}

#AP-content{
    width: 100%;
    height: 100%;
    grid-column: 1;
    grid-row: 2 / 5;
    border-radius: 10px;
    -webkit-box-shadow: 0px 10px 20px 0px rgba(1,22,56,0.27); 
    box-shadow: 0px 10px 20px 0px rgba(1,22,56,0.27);
    padding: 20px;
}

#AP-description{
    margin-top: 75px;

    h1{
        font-size: 25px;
        font-family: "Epilogue", sans-serif;
    }

    p{
        font-family: "Inter" , sans-serif;
        font-size: 19px;
        line-height: 1em;
    }
}

#AP-social{

    div{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
    }

    h1{
        font-size: 25px;
        font-family: "Epilogue", sans-serif;
    }

    p{
        font-family: "Inter" , sans-serif;
        font-size: 19px;
        line-height: 1em;
    }

    a{
        font-size: 60px;
        color: #F8A461;
    }
}

.AP-eventListContainer{
    margin-top: 50px;
    margin-bottom: 30px;

    h2{
        font-family: "Epilogue", sans-serif;
        font-weight: 800;
        margin-bottom: 20px;
    }
}