    .AIC-artistCarousselItem{
        display: grid;
        grid-template-rows: 60% auto;
        grid-template-columns: 100%;
        width: 275px;
        height: 275px;
        margin-left: 20px;
        margin-right: 20px;
        border-radius: 15px;
        -webkit-box-shadow: 0px 10px 30px 0px rgba(1,22,56,0.3); 
        box-shadow: 0px 10px 30px 0px rgba(1,22,56,0.3);
    }
    
    .AIC-artistCarousselItem h3{
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
        font-size: 30px;
        font-family: 'Epilogue', sans-serif;
    }

    .AIC-Pp{
        width: 125px;
        height: 125px;
        object-fit: cover;
        border-radius: 100px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
    }   
