@use "variables" as var;

#AS{
    h1{
        color: var.$main-blue  ;
        width: 100%;
        background-color: white;
        position: fixed;
        padding-top: 35px;
        padding-left: var.$phone-main-margin;
        font-weight: 900;
        font-family: "epilogue", sans-serif;
        z-index: 2;
    }
}

#AS-body{
    padding-top: 100px;
    padding-left: var.$phone-main-margin;
    padding-right: var.$phone-main-margin;
    display: flex;
    flex-direction: column;

    h4{
        font-size: 18px;
        text-align: center;
    }

    div{
        display: flex;
        flex-direction: row;
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 30px;
        align-items: center;
        justify-content: space-between;
        font-size: 50px;
        text-align: center;
    }
}

.AS-unable{
    pointer-events: none;
    background-color: rgb(170, 170, 170) !important;
}

#AS-ask-btn{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: green;
    padding: 10px;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    margin-top: 20px;
}