@use "variables" as var;

$affiche-size : 15vw;

.BE-item{
    background-image: url("../img/ticket.svg");
    background-size: 100% 100%;
    padding-left: 20px;
    padding-right: 20px;
    width: 335px;
    margin-left: auto;
    margin-right: auto;
    height: 167px;
    margin-bottom: 15px;

    a{
        display: grid;
        grid-template-columns: 35% 60%;
        grid-gap: 5%;
        grid-template-rows: 100%;
        width: 300px;
        overflow: hidden;
        height: 167px;
        place-items: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}


.BE-cover{
    height: 100%;
    width: 85px;
    margin-right: 30px;
    border-radius: 5px;
}

.BE-content{
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: space-around;
    color: white;
    height: 100%;
    width: 100%;
}

.BE-detail{
    width: 70%;

    h3{
        margin-top: 0px !important;
        font-size: 20px !important;
        width: 90%;
        max-width: 90%;
        padding-bottom: 10px;
        margin-bottom: 0px !important;
        border-bottom: 2px solid white;
        overflow: hidden;
        max-height: 50px;
    }

    h4{
        margin: 0%;
        font-size: 17px;
        height: fit-content;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    p{
        margin: 0%;
        border-top: 2px solid white;
        font-size: 11px;
        height: fit-content;
        padding-top: 10px;
    }
}

#BE-price{
    width: 20%;
    margin-bottom: 0px;
    font-size: 26px;
    height: fit-content;
}

@media screen and (min-width: 800px) and (orientation: landscape){

    .BE-eventListContainer{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding-top: 50px;
        padding-bottom: 100px;
        gap: 50px;
        width: fit-content;
        justify-content: center;

        .BE-item{
            margin: 0px;
            background: transparent;
            height: auto;
            border-radius: 10px !important;
            height: $affiche-size*1.2;
            width: $affiche-size;
            padding: 0px;
            margin: 0px;
            perspective: 100px;
            
            transition: transform 0.5s ease-out, opacity 0.5s ease-out, height 0.5s ease-out, width 0.5s ease-out;
            opacity: 0.9;

            &:hover{
                transform: rotateX(10deg) rotateY(13deg) rotate(-5deg);
                opacity: 1;
                height: $affiche-size*1.2 +1;
                width: $affiche-size +1;
            }

            a{
                display: grid;
                grid-template-columns: 100%;
                grid-template-rows: repeat(3 , 33%);
                height: 100%;
                width: 100%;
                border-radius: 10px;
                padding: 0px;
                margin: 0px;
                gap: 0px;


                .BE-cover{
                    padding: 0px;
                    margin: 0px;
                    grid-row-start: 1;
                    grid-row-end: 4;
                    grid-column: 1;
                    height: 100%;
                    width: 100%;
                    background-size: resize;
                    
                }

                .BE-content{
                    grid-row: 2/4;
                    background: transparent;
                    grid-column: 1;

                    .BE-detail{
                        height: min-content;
                        background-color: #80808054;
                        padding: 10px;
                        border-radius: 8px;

                        h3{
                            display: flex !important;
                            font-size: 1.5vw !important;
                            height: auto;
                            max-height: 70px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            padding: 0px;
                            width: 100%;
                            max-width: 100%;
                        }
                        p{
                            font-size:14px ;
                        }
                    }

                    #BE-price{
                        font-size: 40px !important;
                    }
                }
            }
        }
    }

}