.CE-main{
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    display: flex;
}

.CE-main h2{
    text-align: center;
}

.CE-main h2 a{
    color: black;
}

#CE-error{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    border-radius: 10px;
    height: 100px;
    border : 5px rgb(255, 78, 78) solid;
    background-color: rgb(255, 255, 255);
}

#CE-error p{
    margin-bottom: 0%;
    text-align: center;
    height: min-content;
    margin-top: auto;
    margin-bottom: auto;
    width: 40%;
    padding: 10px;
    border-radius: 11px;
    background-color: rgba(255, 78, 78, 0.329);
}

#CE-icon-error{
    font-size: 50px;
    height: min-content;
    margin-top: auto;
    margin-bottom: 15px;
    color: rgb(255, 78, 78);
}

#CE-icon-valid{
    color: green;
    font-size: 100px;
    margin-left: auto;
    margin-right: auto;
}

@media(max-width: 1000px){
    #CE-error{
        flex-direction: column;
        height: 300px;
        width: 300px;
    }

    #CE-icon-error{
        font-size: 100px;
        color: rgb(255, 78, 78);
        text-align: center;
    }

    #CE-error p{
        width: 80% ;
        margin-left: auto;
        margin-right: auto;
    }
}