@use "variables" as var;

.Contact-IMG{
    width: 70%;
}

.Contact-1{
    display : flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 150px;
}

.Contact-link{
   margin-left:auto;
   margin-right:auto;
   font-size: 24px;
   text-decoration: none;
   text-align: center;
   color: white;
   font-family: lato;
   font-weight: 500;
   padding : 10px;
   background-color:var.$main-yellow;
   border-radius: 5px;
   width: 300px;
}

.Contact-background{
    background-image: url(../img/background-contact.png);
    background-position: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;

    h1{
        color: var.$main-yellow ;
        width: 100%;
        background-color: white;
        position: fixed;
        padding-top: 35px;
        padding-left: var.$phone-main-margin;
        font-weight: 900;
        font-family: "epilogue", sans-serif;
        z-index: 2;
    }
}

@media screen and (min-width: 800px) and (orientation: landscape){ 

    .Contact-background{
        background-image: url(../img/background-contact.png);
    
        h1{
            color: var.$main-yellow ;
            width: 100%;
            background-color: transparent;
            position: relative;
            text-align: center;
            font-weight: 900;
            font-family: "epilogue", sans-serif;
            z-index: 2;
        }
    }
    .Contact-1{
        padding-top: 50px;
        .Contact-IMG{
            height: 300px;
            object-fit: contain;
        }
    }

}