@use "variables" as var;

#CA-title{
    color : var.$main-red;
    font-family: "epilogue", sans-serif;
    font-size: 32px;
    font-weight: 800;
    padding-top: 35px;
    padding-left: var.$phone-main-margin;
    background-color: white;
    width: 100%;
    margin-bottom: 25px;
  }


  @media screen and (min-width: 800px) and (orientation: landscape){

    #CA-title{
        text-align: center;
    }

    .form{
        align-self: center;
        width: 50vw;
        margin-left: 25vw !important;
        margin-right: 25vw !important;

        input[type=checkbox]{
          max-height: 20px !important;
        }
    }

}