@use "variables" as var;

#CE-title{
  color: var.$main-yellow ;
  width: 100%;
  background-color: white;
  position: fixed;
  padding-top: 35px;
  padding-left: var.$phone-main-margin;
  font-weight: 900;
  font-family: "epilogue", sans-serif;
  z-index: 2;
}

#CE-progress-bar{
  padding-top: 120px;
  margin-bottom: 20px;
  width: calc(100% - (var.$phone-main-margin*2));
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;

  img{
    width: 100%;
    height: 100%;
    object-fit:scale-down;
    grid-row: 1;
    grid-column: 1;
    z-index: 1;
  }

  div:nth-child(1){
    background-color: #D9D9D9;
    width: 100%;
    grid-row: 1;
    grid-column: 1;
    z-index: -1;
  }

  div:nth-child(2){
    background-color: var.$main-yellow;
    width: 0%;
    grid-row: 1;
    grid-column: 1;
    z-index: 0;
    transition: all 1s;
  }
}

#CE-card-container{
  margin-left: var.$phone-main-margin;
  margin-right: var.$phone-main-margin;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  max-width: 90vw;
}

.CE-card{
  grid-row: 1;
  grid-column: 1;
  transform-origin: 50% 99%;
  padding-top: 20px;
  border-radius: 10px;
  background-color: white;
  -webkit-box-shadow: 0px 10px 30px 0px rgba(1,22,56,0.3); 
  box-shadow: 0px 10px 30px 0px rgba(1,22,56,0.3);
  display: flex;
  flex-direction: column;
  min-height: 450px;
}

.CE-form{
  text-align: left !important;

  label{
    font-size: 18px !important;
  }

  input{
    margin-top: 10px;
    font-size: 13px;
    padding: 10px;
    height: 40px !important;
    border: var.$main-yellow 1px solid !important;
  }

  input[type="file"]{
    border: none !important;
  }

  select{
    border: none;
    padding: 5px;
    border-radius: 5px;
  }

  textarea{
    font-size: 13px;
    padding: 10px;
    border: var.$main-yellow 1px solid !important;
    outline: none;
  }
}

.CE-next {
  position: fixed;
  animation: next 0.7s ease-out;
  width: 90vw;
}

.CE-previous {
  animation: previous 0.7s ease-out;
  position: fixed;
  width: 90vw;
}

@keyframes next {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: translatex(100vw);
  }
}

@keyframes previous {
  from {
    transform: translateX(100vw);
  }
  to {
    transform: translateX(0);
  }
}

.CE-btn-next{
  background-color: white !important;
  color: var.$main-yellow !important;
  font-size: 50px !important;
  margin: 0px !important;
  display: flex;
  justify-content: center;
  border: none;
}

.CE-btn-previous{
  background-color: white !important;
  color: var.$main-yellow !important;
  font-size: 40px !important;
  margin: 0px !important;
  display: flex !important;
  justify-content: center !important;
  border: none;
  transform: rotate(180deg);
}

#CE-a{
  z-index: 6;
}

#CE-b{
  z-index: 5;
}

#CE-c{
  z-index: 4;
}

#CE-d{
  z-index: 3;
}

#CE-e{
  z-index: 2;
}

#CE-f{
  z-index: 1;
}

.CE-nav{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  margin-bottom: 10px;
}

#CE-label{
  font-family: "Inter", sans-serif;
  font-weight: 600;
  color: var.$main-dark;
}

.CE-monthly-choice{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Ce-days{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  span{
    background-color: #e9e9ed;
    padding: 5px;
    width: 30px;
    border-radius: 3px;
    cursor: pointer;
  }
}

.Ce-days-active{
  background-color: var.$main-yellow !important;
  color: white;
}

.CE-recap{
  padding-left: 20px;
  padding-right: 20px;
  font-family: "inter" , sans-serif;
  max-height: 56vh;

  h2{
    text-align: center;
    color: var.$main-yellow;
    font-family: "inter", sans-serif;
    font-weight: 700;
    font-size: 29px;
  }
}

.CE-recap-item{
  p{
    max-width: 100% ;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 50px;
  }

  h5{
    font-weight: 700;
  }

  h4{
    font-weight: 700;
  }
}

#CE-price{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  input{
    width: 50%;
    margin-top: 0px !important;
  }

  div{
    border : 1px solid black;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
    background-color: #e9e9ed;
    cursor: pointer;
  }
}

.CE-hat-active{
  background-color: var.$main-yellow !important;
  color: white !important;
  border: none !important;
}

.CE-artist-searchBar{
  height: 40px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  input{
    margin: 0px;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    width: 75%;
  }

  button{
    width: 25%;
    margin: 0px !important;
    height: 40px !important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    background-color: var.$main-yellow !important;
  }
}

.CE-list-snipet{
  border: var.$main-yellow 1px solid;
  list-style-type: none;
  padding-left: 10px;
  font-size: 13px;
}

.CE-artist-item{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: var.$main-yellow 1px solid;
  padding-left: 5px;
  border-radius: 15px;
  overflow: hidden;
  width: fit-content;
  margin-right: 15px ;
  justify-content: space-between;
  margin-top: 10px;
}
.Ce-remove-artist{
  padding: 3px;
  background-color: var.$main-red;
  color: white;
}

.CE-artistContainer{
  display: flex;
  flex-wrap: wrap;
}

.CE-loader{
  margin :auto
}

.CE-fail{
  display: flex;
  flex-direction: column;
  padding: 15px;

  span{
    background-color: var.$main-red;
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
  }

  div{
    font-size: 86px;
    color: var.$main-red;
    margin-left: auto;
    margin-right: auto;
  }
}

.CE-succes{
  display: flex;
  flex-direction: column;
  padding: 15px;
  margin: auto;

  div{
    font-size: 86px;
    margin-left: auto;
    margin-right: auto;
    color: rgb(72, 134, 53);
  }

  h5{
    text-align: center;
    color: rgb(72, 134, 53);
  }

  a{
    background-color: rgb(72, 134, 53);
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    margin-top: 30px;
  }
}

.CE-datePicker button{
  background-color: transparent !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  height: auto;
}

@media screen and (min-width: 800px) and (orientation: landscape){

  #CE-progress-bar{
    max-width: 500px;
  }

  .CE-card{
    width: 50vw;
    margin-left: 25vw;
    margin-right: 25vw;
    min-height: 60vh;
  }

}