@use "variables" as var;

.DA-title{
    color: var.$main-red;
    width: 100%;
    background-color: white;
    position: fixed;
    padding-top: 35px;
    padding-left: var.$phone-main-margin;
    font-weight: 900;
    font-family: "epilogue", sans-serif;
    z-index: 2;
}

.DA-main{
    padding-top: 15vh;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin-left: var.$phone-main-margin;

    h2{
        font-weight: 500;
        font-size: 24px;
        margin-bottom: 20px;
    }
}

.DA-account-container{
    display: flex;
    flex-direction: row;
    margin-right: var.$phone-main-margin;
    gap: 30px;

    a{
        border: 0px;
        width: 85px;
        height: 85px;
        border-radius: 10px;
        font-size: 35px;
        display: flex;
        color: white;

        &:nth-child(1){
            background-color: var.$main-blue;
        }

        &:nth-child(2){
            background-color: var.$main-dark;
        }

        &:nth-child(3){
            background-color: var.$main-yellow;
        }

        svg{margin: auto;}
    }

}


@media screen and (min-width: 800px) and (orientation: landscape){

    .DA-title{
        padding-left: 7vw ;
        padding-right: 7vw ;
        text-align: center;
        position: relative;
    }

    .DA-main{
        padding-top: 30px;
        margin-left: 7vw;
        margin-right: 7vw;
        padding-left: 0px;
    }

    .DA-account-container{
        justify-content: space-between;
        margin-right: 0px;
    
        a{width: 30%;}}

}