.DEA-container{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 80vh;
}

.DEA-container h3{
    text-align: center;
    font-size: 50px;
    font-family: roboto,-apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}

.DEA-warning{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    border: 3px green solid;
    border-radius: 15px;
    padding: 20px;
    justify-content: space-around;
    align-items: center;
}

.DEA-warning p {
    width: 60%;
    font-size: 18px;
}

#DEA-unlock{
    font-size: 75px;
    color: green;
}

#DEA-lock{
    font-size: 75px;
    color: rgb(252, 91, 91);
}

.DEA-container button{
    width: 300px;
    background-color: rgb(108, 204, 108);
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
    margin-top: 30px;
    margin-bottom: 50px;
    font-family: roboto,-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}