.DA-mainContainer{
    display: flex;
    flex-direction: column;
    width: 90%;
    min-height: 70vh;
    margin-left:auto;
    margin-right:auto;
    margin-top: 40px;
    font-family: lato;
}

.DA-mainContainer h1 {
    font-size: 60px;
}

.DA-mainContainer h3 {
    font-size: 30px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.DA-mainContainer p{
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
}

.DA-mainContainer button{
    background-color: #FF9999;
    font-size: 25px;
    width: 30%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    border-radius:10px;
    color: #000000;
    box-shadow:  8px 8px 27px #cacaca,
             -8px -8px 27px #f6f6f6;
}

.DA-mainContainer button:disabled{
    box-shadow: none;
}

.DA-confirmationContainer{
    background-color : #FCBF49;
    border-radius: 10px;
    width: 30%;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top:50px;
}

.DA-confirmationContainer h4{
    text-align: center;
}

.DA-confirmationContainer p{
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    margin: 0;
}