@use "variables" as var;

#EV-main{
    min-height: 100vh;
    margin-bottom: 20px;

    h1{
        font-size: 32px;
        font-family: 'Inter', sans-serif;
        font-weight: 800;
        padding-top: 30px;
        color: #e6525e;
        padding-left: var.$phone-main-margin;
        padding-right: var.$phone-main-margin;
    }
}

#EV-cover{
    margin-top: 40px;
    margin-bottom: 20px;
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#EV-date-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap : 30px;
    overflow: hidden;
    overflow-x: scroll;
    padding-left: 7vw;
    padding-right: 7vw;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    &::-webkit-scrollbar {
        display: none;
      }

    .EV-date-item{
        display: flex;
        flex-direction: column;
        border-radius: 8px;
        background: linear-gradient(45deg, var.$main-red, var.$main-yellow);
        padding: 10px;
        width: 60px;
        
        *{
            font-family: "Epilogue", sans-serif;
            text-align: center;
            margin-bottom: 0px;
            color: white;
        }

        h5{
            padding: 0px;
            font-weight: 600;
        }

        span{
            width: 2px;
            height: 20px;
            background-color: white;
            margin-left: auto;
            margin-right: auto;
            margin-top: 4px;
            margin-bottom: 4px;
        }
    }
}

#EV-hour{
    background-color: rgba(255, 255, 255, 0.55);
    width: fit-content;
    height: fit-content;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

.EV-detail{
    margin-left: var.$phone-main-margin;
    margin-right: var.$phone-main-margin;

    h4{
        font-size: 32px;
        font-family: 'Epilogue', sans-serif;
        font-weight: 700;
        margin-top: 30px;
        color: var.$main-red;
    }

    p{
        margin: 0px;
        font-size: 23px;
    }
}

#EV-caroussel{
    display: flex;
    flex-direction: row;
    overflow: scroll;
    margin-bottom: 50px;
    margin-top: 30px;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    flex-wrap: nowrap;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
}

#EV-caroussel::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

#EV-bottomBtn{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 1;
    bottom : 30px;
    left: 24vw;
    width: 50vw;
}

#EV-book{
    background-color: transparent;
    border: none;
    padding: 10px;
    font-size: 16px;
    background: linear-gradient(45deg, var.$main-red, var.$main-yellow);
    border-radius: 8px;
    height: 39px;
    text-align: center;
    font-family: "Epilogue" ,sans-serif;
    font-weight: 600;
    color: white;
}