@use "variables" as var;

#EVE-main{
  margin-left: 20px;
  margin-right: 20px;
  min-height: 100vh;
  *{transform: none !important;}

  h1{
    font-size: 32px;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    padding-top: 30px;
    color: var.$main-red;
    margin-left: calc(var.$phone-main-margin - 20px);
  }
}

#EVE-toogle-filter{
    background-color: transparent;
    border: none;
    font-size: 35px;
    margin-bottom: 30px;
}

.EVE-switch{
  position: relative;
  appearance: none; outline: none;
  width: 50px; height: 30px;
  background-color: #ffffff; border: 1px solid #D9DADC;
  border-radius: 50px; box-shadow: inset -20px 0 0 0 #ffffff;
  transition-duration: 200ms;

  :after {
    content: "";
    position: absolute;
    top: 1px; left: 1px;
    width: 26px; height: 26px;
    background-color: transparent;
    border-radius: 50%; box-shadow: 2px 4px 6px rgba(0,0,0,0.2);
  }

  :checked {
    border-color: var.$main-blue ;
    box-shadow: inset 20px 0 0 0 var.$main-blue ;
  }

  :checked:after {
    left: 20px;
    box-shadow: -2px 4px 3px rgba(0,0,0,0.05);
  }
}


.EVE-filter-active{
    display: flex !important;
}

#EVE-filter{
    top: 20vh;
    right: 8vw;
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 280px;
    height: 300px;
    padding: 15px;
    border-radius: 25px;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 10px 30px 0px rgba(1,22,56,0.3); 
    box-shadow: 0px 10px 30px 0px rgba(1,22,56,0.3);

    div{
      display: flex;
      flex-direction: column;
      margin-top: 10px;
  }

  label{
    color: var.$main-dark;
    font-size: 20px;
    font-weight: 500;
  }
  h4{
    color: var.$main-dark;
    font-size: 25px;
    font-weight: 700;
  }
  input[type=range] {
    height: 27px;
    -webkit-appearance: none;
    width: 100%;
  }
  input[type=range] {
    height: 27px;
    -webkit-appearance: none;
    width: 100%;
  }
  input[type=range] {
    height: 27px;
    -webkit-appearance: none;
    width: 100%;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: var.$main-blue ;
    border-radius: 5px;
    border: 0px solid #000000;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid #000000;
    height: 20px;
    width: 20px;
    border-radius: 24px;
    background: #FFFFFF;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -5.5px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: var.$main-blue ;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: var.$main-blue ;
    border-radius: 5px;
    border: 0px solid #000000;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid #000000;
    height: 20px;
    width: 20px;
    border-radius: 24px;
    background: #FFFFFF;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: var.$main-blue ;
    border: 0px solid #000000;
    border-radius: 10px;
    box-shadow: 0px 0px 0px #000000;
  }
  input[type=range]::-ms-fill-upper {
    background: var.$main-blue ;
    border: 0px solid #000000;
    border-radius: 10px;
    box-shadow: 0px 0px 0px #000000;
  }
  input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid #000000;
    height: 20px;
    width: 20px;
    border-radius: 24px;
    background: #FFFFFF;
    cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: var.$main-blue ;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: var.$main-blue ;
  }
}

#EVE-price-display{
  display: flex;
  flex-direction: row !important;
  justify-content: space-between;
  margin: 0% !important;

  p{
    width : fit-content;
    margin: 0px;
  }
}

@media screen and (min-width: 800px) and (orientation: landscape){

  #EVE-main{
    margin-left: 7vw;
    margin-right: 7vw;

    h1{
      width: auto;
      text-align: center;
    }
  }
}