@use "variables" as var;

.FAQ-main{
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2{
        color: var.$main-yellow  ;
        width: 100%;
        background-color: white;
        position: fixed;
        top: 0px;
        padding-top: 35px;
        padding-left: var.$phone-main-margin;
        padding-right: var.$phone-main-margin;
        font-weight: 900;
        font-family: "epilogue", sans-serif;
        z-index: 2;
        font-size: 32px;
    }
}

.FAQ-list{
    padding-top: 110px;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 800px) and (orientation: landscape){

    .FAQ-main{
    
        h2{
            position: relative;
            padding-top: 20px;
            text-align: center;
        }

        .FAQ-list{
            padding-top: 50px;
        }
    }

}