@use "variables" as var;

.Fe-main{
    display : flex;
    width :100%;
    background-color :rgb(34, 34, 34);
    color : white;
    padding-left: 1%;
}

.Fe-column{
    display : flex;
    flex-direction : column;
    width :50%;

    h3{
        font-size :25px;
        margin-top :20px;
    }

    ul{
        padding-left: 0px !important;
        margin-bottom: 10px;
    }

    button{
        background-color :transparent;
        color :white;
        border: none;
        margin: none !important;
        padding: 0;
    }
}

.link{
    margin: none !important;
    padding: 0 !important;
}