@use "variables" as var;

.F-container {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    margin-top: 2%;
    min-height: 70vh;

    h1 {
        font-family: lato;
        font-size: 300%;
        font-weight: 500;
    }
}

.F-hiligth{
    background-color: rgb(230, 230, 230);
    padding-top: 15px;
    padding-bottom: 20px;
    border-radius: 15px;
    margin-top: 10% !important;
    margin-bottom: 10% !important; 
    font-size: 10px !important;
}

.F-itemContainer {
    display: flex;
    flex-direction: column;
    margin-top: 2%;

    label {
        font-family: lato;
        font-weight: 400;
        font-size: 30px;
    }

    input {
        border-radius: 10px;
        width: 100%;
        height: 50px;
        border : none !important;
        background-color : #f4f6f8;
        font-family: lato;
        font-weight: 300;
        font-size: 25px;
    }

    select {
        border-radius: 10px;
        width: 100%;
        height: 50px;
        border : none !important;
        background-color : #f4f6f8;
        font-family: lato;
        font-weight: 300;
        font-size: 25px;
    }

    textarea {
        border-radius: 10px;
        width: 100%;
        height: 150px;
        border : none !important;
        background-color : #f4f6f8;
        font-family: lato;
        font-weight: 300;
        font-size: 25px;
    }
}

.F-submitContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

#F-submit-btn{
    background-color: black;
    color: white;
    font-size: 30px;
    border-radius:50px;
    font-family: lato;
    font-weight: 400;
    width:75%;
    height : 70px;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;

}

.F-wrong{background-color: red}

.F-nothingToDisplay{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1{
        font-size: 150px !important;
        color: #ddaf49;
    }

    p{
        font-family: lato;
        font-size: 40px !important;
    }
    
}


@media (max-width: 900px){

    .F-nothingToDisplay h1{
        font-size: 100px !important;
        color: #ddaf49;
    }
    
    .F-nothingToDisplay p{
        font-family: lato;
        font-size: 30px !important;
    }

    .F-container h1 {
        font-size: 20px;
    }

    .F-itemContainer label {
        font-size:18px;
    }

    .F-itemContainer input {
        font-size:15px;
    }

    .F-itemContainer textarea {
        font-size:15px;
    }


    
}