@use "variables" as var;

.Forms-main{
    display: flex;
    flex-direction: column;
    margin-left: var.$phone-main-margin;
    margin-right: var.$phone-main-margin;

    input[type=submit]{
        border: none;
        background-color: var.$main-red;
        height: 54px;
        border-radius: 8px;
        color: white;
        font-size: 16px;
        font-weight: 500;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    button{
        border: none;
        background-color: var.$main-red;
        height: 54px;
        border-radius: 8px;
        color: white;
        font-size: 16px;
        font-weight: 500;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    a{
        width: 100%;
        margin-top: 10px;
        color: var.$main-blue ;
        font-weight: 600;
        text-align: center;
        text-decoration: none;
        font-family: "inter", sans-serif;
    }
}

.Forms-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    label{   
        font-size: 20px;
        font-family: "Inter", sans-serif;
        font-weight: 600;
        color: var.$main-dark;
    }

    input{
        border: var.$main-dark 1px solid;
        border-radius: 10px;
        height: 50px;
    }

    input:disabled{
        background-color: rgba(214, 214, 214, 0.486);
        border: none!important;
    }

    textarea{
        border: var.$main-dark 1px solid;
        border-radius: 10px;
        height: 200px;
    }
    
    input:focus{
        outline: none;
        border: var.$main-blue  2px solid;
    }
}

.Forms-group-double{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .Forms-group{
        width: 45%;
    }

    p{
        color: #878787;
        font-weight: 600;
        margin: 0px;
        text-align: center;
        font-family: "inter", sans-serif;
    }
}

.Forms-checkbox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    input{
        width: 40px;
        margin-right: 20px;
        accent-color: var.$main-blue ;
    }
}

.Forms-radio-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 200px;
}

.Forms-radio{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 60px;
}

.Form-snipetList{
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    cursor: pointer;

    li{
        color: var.$main-dark;
        list-style-type: none; 
        width: 100%;
        border: 1px solid var.$main-blue ;
    }

    li:hover{
        background-color: var.$main-blue 2f;
    }
}
