@use "variables" as var;

.HU-input-container{
    display: flex;
    flex-direction: row;
    padding-top: 130px;
    justify-content: space-between;
    margin-left: var.$phone-main-margin;
    margin-right: var.$phone-main-margin;

    svg{
        display: none;
    }

    input{
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        border-radius: 50px;
        border: var.$main-dark 1px solid;
        padding-left: 15px;
    }

    input:focus{
        border: var.$main-blue  2px solid;
        outline: none;
    }
}

.HU-artistCaroussel{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 40px;
    min-height: 90vh;
}

.HU-artistCarousselItem{
    width: 150px;
    height: 27vh;
    overflow: hidden;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 70% auto;
    border-radius: 15px;
    -webkit-box-shadow: 0px 10px 30px 0px rgba(1,22,56,0.3); 
    box-shadow: 0px 10px 30px 0px rgba(1,22,56,0.3);
    margin-top: 20px;

    h3{
        text-align: center;
        color: var.$main-dark;
        font-size: 20px;
        font-weight: 700;
        font-family: "epilogue", sans-serif;
    }

    .HU-iconVerified{
        grid-row: 1;
        grid-column: 1;
        color: var.$main-blue;
        margin-left: 68%;
        margin-top: 55%;
        font-size: 30px;
        width: fit-content;
    }
}

.HU-Pp{
    grid-row: 1;
    grid-column: 1;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}


.HU h2{
    font-size: 31px;
    font-family: "epilogue", sans-serif;
    font-weight: 700;
    padding-left: var.$phone-main-margin;
    padding-top: 20px ;
    background-color: white;
    position: fixed;
    width: 100%;
}

@media screen and (min-width: 800px) and (orientation: landscape){

    .HU{
        h2{
            text-align: center;
            position: relative;
            font-size: 32px;
        }

        .HU-input-container{
            padding-top: 40px;
        
            svg{
                display: none;
            }
        
            input{
                border: 0px;
                height: 40px;
                background-color: white;
                -webkit-box-shadow: 0px 10px 30px 0px rgba(1,22,56,0.3); 
                box-shadow: 0px 10px 30px 0px rgba(1,22,56,0.3);
            }

        }
    }
}