@use "variables" as var;

.Mu-mainContent{
    display: flex;
    min-height: 90vh;
}

#MU-logo{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#MU-main{
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 100px;
    display: flex;
    flex-direction: column;

    h1{
        text-align: center;
        font-size: 35px;
        font-family: "epilogue", sans-serif;
        margin-bottom: 50px;

        span{
            font-family: "Autolava", sans-serif;
            font-weight: bold;
            font-size: 55px;
        }
    }

    h2{
        text-align: center;
        font-size: 25px;
        font-family: "epilogue", sans-serif;
    }

    span{
        text-align: center;
        color: var.$main-red;
        font-weight: 900;
    }
}

#MU-title{
    text-align: center;
    color: var.$main-red;
    font-weight: 800;
    padding-top: 35px;
    padding-right: 50px;
    position: fixed;
    background-color: white;
    width: 100%;
    font-size: 32px;
    font-family: "epilogue", sans-serif;
}

#MU-artists{
    display: grid;
    height: 40vh;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    margin-top: 30px;
    margin-bottom: 30px;

    h2{
        text-align: left;
        width: 60%;
        height: fit-content;
        margin-top: auto;
        margin-bottom: auto;
        grid-column: 1;
        grid-row: 1;
    }
    
}
#MU-artists-img{
    grid-column: 1;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    img:nth-child(1){
        width: 26%;
        border-radius: 150px;
        margin-left: 60%;
    }

    img:nth-child(2){
        width: 20%;
        border-radius: 150px;
        margin-left: 75%;
    }

    img:nth-child(3){
        width: 30%;
        border-radius: 150px;
        margin-left: 40%;
    }
}

#MU-event{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 90px;

    img{
        width: 80%;
    }
}


#MU-book{
    width: 70%;
    margin-left: auto;
    text-align: right !important;
    margin-top: 30px;
    margin-bottom: 30px;
}

#MU-next-event h3{
    font-size: 25px;
    font-family: "epilogue";
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 30px;
}

@media screen and (min-width: 800px) and (orientation: landscape){

    #MU-main{
        min-height: 95vh;
        margin-left: 0px;
        margin-right: 0px;
        padding-top: 0px;
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: 30vh auto;

        #MU-logo{
            display: none;
        }

        h1{
            grid-row: 1 ;
            grid-column: 1;
            font-size: 3vw;
            padding: auto;
            background-size: cover;
            background-position: center;
            height: fit-content;
            text-align: center;
            margin-top: 20%;
            margin-bottom: auto;

            span{
                font-size: 5vw;
            }
        }

        #MU-artists{
            display: none;
        }

        #MU-book{
            grid-row: 2 ;
            grid-column: 1;
            padding: auto;
            margin: auto;
        }

        #MU-event{
            display: none;
        }
        
        #MU-next-event{
            grid-row: 1/3 ;
            grid-column: 2;
            max-width: 100%;

            h3{display: none;}
        }

    }
    
}