@use "variables" as var;

.ML-container{

    h1{
        color: var.$main-blue  ;
        width: 100%;
        background-color: white;
        position: fixed;
        padding-top: 35px;
        padding-left: var.$phone-main-margin;
        font-weight: 900;
        font-family: "epilogue", sans-serif;
        z-index: 2;
    }
}


.ML-dl-container{
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    padding-left: var.$phone-main-margin;
    padding-right: var.$phone-main-margin;
    min-height: 100vh;

    p{
        font-size: 25px;
        font-weight: 700;
        font-family: "epilogue", sans-serif;
        color: var.$main-dark;
    }

    a{
        font-size: 16px;
        padding: 10px;
        font-weight: 700;
        font-family: "epilogue", sans-serif;
        background-color: var.$main-blue ;
        color: white;
        border-radius: 8px;
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        margin-top: 20px;
    }
}