@use "variables" as var;

#menu-toggle{
   background-color: transparent;
   border: none;
   font-size: 35px;
   position: fixed;
   right: var.$phone-main-margin;
   top: 20px;
   z-index: 10;
}

#SideMenu{
  width: 0px;
  overflow: hidden;
  transition: width 0.75s;
  position: fixed;
  right: 0px;
  z-index: 11;
  background-color: white;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  padding-top: 6vh;
  height: 100vh;
  display: flex;
  flex-direction: column;

  h1{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 29px;

    img{
      width: 50px;
      height: 50px;
      object-fit: cover;
      border-radius: 25px;
      margin-right: 10px;
    }
  }

  nav{
    display: flex;
    flex-direction: column;
    width: 250px;
    margin-left: auto;

    :nth-child(1){
      color: var.$main-red;
    }
    :nth-child(2){
      color: var.$main-yellow;
    }
    :nth-child(3){
      color: var.$main-dark;
    }
    :nth-child(4){
      color: var.$main-blue;
    }
  }

  a{
    text-decoration: none;
    padding-left: 10px;
    font-size: 23px;
    border-bottom: 1px solid var.$main-blue;
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.SideMenu-active {
  width: 300px !important;
}

#SideMenu-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 15px;
  padding-left: 25px;
  border-bottom: 1px solid var.$main-blue;
  white-space: nowrap;

  svg{
    font-size: 28px;
  }
}

.SideMenu-subLink{
  font-family: "inter" , sans-serif;
  font-size: 17px !important;
  color: var.$main-grey;
  border: none !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

#SideMenu-help{
  background-color:#FDC961 ;
  padding: 10px !important;
  font-size: 16px !important;
  border: none !important;
  color: white;
  border-radius: 8px;
  margin: auto;
}

#TopMenu{
  display: none;
}

@media screen and (min-width: 800px) and (orientation: landscape){

  #TopMenu{
    display: flex;
    flex-direction: row;
    margin-left: 7vw;
    margin-right: 7vw;
    padding-top: 45px;
    width: 86vw;
    justify-content: space-between;

    #logo{
      font-family: "Autolava", sans-serif;
      font-weight: bold;
      text-align: center;
      color: #F45B69;
      font-size: 34px;
      margin-top: auto;
      margin-bottom: auto;
      text-decoration: none;

    }

    .topLink{
      min-width: 430px;
      width: 40%;
      display: flex;
      justify-content: space-around;
      align-items: center;

      a{
        height: min-content;
        text-decoration: none;
        color: var.$main-dark;
        font-family: "Inter", sans-serif;
      }
    }

    .topConnect{
        height: min-content;
        text-decoration: none;
        color: white;
        font-family: "Inter", sans-serif;
        margin-top: auto;
        margin-bottom: auto;
        background-color: var.$main-dark;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 8px;
        transition: all 0.5s;

        &:hover{
          background-color: #0050d1;
        }
    }
  }

}