@use "variables" as var;

.Modal-FAQcontainer{
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: all 1s;
}

.Modal-title{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: var.$phone-main-margin;
  padding-bottom: var.$phone-main-margin;
  border-bottom: var.$main-dark 2px solid;
  margin-top: 20px;

  span{
    font-size: 20px;
    margin-right: 20px;
    margin-left: 5px;
    transform: rotate(-90deg);
    transition: all 1s;
  }

  h4{
    background-color: transparent;
    border: 0px;
    font-size: 18px;
    text-align: left;
    font-family: "epilogue", sans-serif;
    font-weight: 700;
    color : var.$main-dark;
  }
}

.Modal-FAQcontainer p{
  max-height: 0px;
  overflow: hidden;
  transition: max-height 1s;
  transition-duration: 1s;
  margin-left: 20px;
}

.Modal-open{
  background-color: var.$main-yellow;

  span{
    transform: rotate(90deg);
  }

  p{
    max-height: 1000px;
  }
}
