@use "variables" as var;

$input-height : 40px;

.MOE-main{

    margin-left: var.$phone-main-margin;
    margin-right: var.$phone-main-margin;
    margin-bottom: 50px;

    h1{
        color : var.$main-yellow;
        font-family: "epilogue", sans-serif;
        font-size: 32px;
        font-weight: 800;
        padding-top: 35px;
        background-color: white;
        width: 100%;
        margin-bottom: 30px;
    }

    form{
        display: flex;
        flex-direction: column;
        gap: 20px;

        div{
            background-color: rgba(238, 238, 238, 0.5);
            border-radius: 10px;
            padding: 10px;
            display: flex;
            flex-direction: column;

            li{
                border-left: 0px;
                border-right: 0px;
                border-top : 0px;
                border-bottom: 1px solid grey;
                padding-top: 5px;
                padding-bottom: 5px;
            }

            label{
                font-family: "Inter", sans-serif;
                color: var.$main-dark;
                margin-bottom: 10px;
            }

            input{
                font-size: medium;
            }

            input[type=file]{
                display: none;
            }

            .MOE-radio-container{
                display: flex;
                flex-direction: row;
                gap: 40px;
                margin-top: 10px;
                background-color: transparent;

                div{
                    background-color: transparent;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    gap:5px;
                    
                    p{margin: 0px;}
                }
            }

            .MOE-price{
                display: flex;
                flex-direction: row;
                gap: 40px;
                background-color: transparent;

                button{
                    border-radius: 5px;
                    border: 0px;
                    padding: 5px;
                }
            }

            .MOE-custome-file{
                width: 100px;
                height: 100px;
                background-color: rgba(173, 173, 173, 0.5);
                border-radius: 5px ;
                cursor: pointer;
                margin-left: auto;
                margin-right: auto;
                display: flex;
                background-size: cover;

                svg{
                    margin: auto;
                    width: 30%;
                    height: 30%;
                    color: white;
                }
            }

            input[type=text]{
                height: $input-height;
                border-radius: 5px !important;
                border: 1px solid rgb(177, 177, 177);
            }

            input[type=number]{
                height: $input-height;
                border-radius: 5px;
                border: 1px solid rgb(177, 177, 177);
                width: 80px;
            }

            textarea{
                min-height: 2*$input-height;
                border-radius: 5px;
                border: 1px solid rgb(177, 177, 177);
            }

            .MOE-artistInput-container{
                display: flex;
                flex-direction: row;
                border: 1px solid rgb(177, 177, 177);
                padding: 0px;
                background-color: white;

                input{
                    border: 0px;
                    outline: none;
                }

                button{
                    background-color: transparent;
                    width: 100%;
                    color: grey;
                    border: 0px;
                    font-size: 20px;
                }
            }

            .MOE-artistAdded-container{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                width: 100%;
                gap: 20px;
                background-color: transparent;

                .MOE-artistAdded-item{
                    display: flex;
                    flex-direction: row;
                    background-color: white;
                    padding: 0px;
                    border-radius: 8px;
                    gap: 5px;

                    p{
                        margin: 0px;
                        padding-left: 5px;
                        margin-top: 5px;
                        margin-bottom: 5px;
                    }

                    button{
                        background-color: var.$main-red;
                        border: 0px;
                        border-top-right-radius: 8px;
                        border-bottom-right-radius: 8px;
                        width: 30px;
                    }
                }
            }
        }

        input[type=submit]{
            background-color: var.$main-yellow;
            border: 0px;
            color: white;
            border-radius: 5px;
            font-size: 18px;
            width: 150px;
            height: $input-height;
            margin-left: auto;
            margin-right: auto;
            margin-top: 30px;
        }
    }
}

@media screen and (min-width: 800px) and (orientation: landscape){


    .MOE-main{

        margin-left: var.$phone-main-margin;
        margin-right: var.$phone-main-margin;
        margin-bottom: 50px;
    
        h1{
            color : var.$main-yellow;
            font-family: "epilogue", sans-serif;
            font-size: 32px;
            font-weight: 800;
            padding-top: 35px;
            background-color: white;
            width: 100%;
            margin-bottom: 30px;
            text-align: center;
        }

    form{
        align-self: center;
        width: 50vw;
        margin-left: 25vw !important;
        margin-right: 25vw !important;
    }
}

}