@use "variables" as var;

.NE-filter-head{
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    flex-direction: row;

    button{
        background-color: transparent;
        font-size: 25px;
        color: black;
        border: none;
    }
    
    p{
        font-size: 25px;
        margin-bottom: 0px;
        margin-right: 20px;
    }
}

.NE-filter-body{
    height: 0px;
    transition: all 0.5s;
    overflow: hidden;
}

.NE-filter-body-active{
    height: 100px;
}

.NE-filter-arrow{
    rotate: 0;
    transition: all 0.5s;
}

.NE-filter-arrow-active{
    transform: rotate(90deg);
}

#sub-filter{
    display: flex;
    flex-direction: row;
}

.sub-filter-item{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    button{
        background-color: #ff93b8;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 5px;
        padding-bottom: 5px;
        border-radius: 30px;
        border: none;
    }

    input{
        margin-left: 20px;
    }
    
    
}


@media (min-width: 900px){

}

@media (max-width: 1200px) {

}

@media (max-width: 900px){
    #sub-filter{
        flex-direction: column;
    }

    .NE-filter-body-active{
        padding-top: 15px;
        height: 140px;
    }

    .sub-filter-item button{
        width: 60%;
        margin-bottom: 10px;
    }
    
  }