#NST-U-title{
    text-align: center;
    margin-top: 50px;
    font-family: 'roboto','Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 40px;
}

.NST-U_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
    min-height: 60vh;
}

#NST-U-icon{
    font-size: 150px;
    transition: all 1s;
    height: 225px;
    width: 225px;
    text-align: center;
    border-radius: 150px;
    margin-bottom: 30px;
}

.NST-U_item{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 70%;
}

.NST-U_item button{
    width: 150px;
    padding: 10px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: rgb(46, 71, 141);
    color: white;
    border: none;
}

.NST-U_item button:hover{
    background-color: rgb(60, 93, 184);
}

.NST-U_item input{
    width: 400px;
    padding: 10px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}