@use "variables" as var;

.RPA-input-container{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

#RPA-submit-btn{
    background-color: rgb(49, 83, 134);
    color: white;
    padding: 10px;
    width: 150px;
    border-radius: 10px;
    border: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}