@use "variables" as var;

.SE-EmailChangeContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    width: 100%;
}

.SE-EmailWarning{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f6f8;
    margin-left: 30px;
    padding: 10px;
    border-radius: 10px;
}

.SE-EmailWarning p {
    margin-bottom: 0px;
    text-align: center;
    font: size 20px;
    font-family: lato;
}
