@use "variables" as var;

#SE-title{
    color: var.$main-blue  ;
    width: 100%;
    background-color: white;
    position: fixed;
    padding-top: 35px;
    padding-left: var.$phone-main-margin;
    font-weight: 900;
    font-family: "epilogue", sans-serif;
    z-index: 2;
}

#SE-PP{
    padding-top: 150px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    width: 200px;
    height: 350px;
    margin-left: auto;
    margin-right: auto;

    img{
        width: 200px;
        height: 200px;
        object-fit: cover;
        border-radius: 100px;
        grid-column: 1;
        grid-row: 1;
    }
}

#SE-PP-edit{
    grid-column: 1;
    grid-row: 1;
    z-index: 1;
    background-color: rgba(185, 185, 185, 0.493);
    color: white;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    border: none;
    margin-left: auto;
    font-size: 30px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    place-items: center;
    cursor: pointer;

    svg{
        opacity: 100;
        width: 40px;
        height: 40px;
        grid-column: 1;
        grid-row: 1;
    }

    input{
        opacity: 0;
        grid-column: 1;
        grid-row: 1;
    }
    
}

#SE-PP-verified{
    grid-column: 1;
    grid-row: 1;
    z-index: 1;
    background-color: white;
    color: var.$main-blue ;
    border: none;
    height: 50px;
    width: 50px;
    margin-left: auto;
    margin-top: auto;
    font-size: 50px;
    border-radius: 50px;
    padding: 0px;
    display: flex;
    justify-content: center;
}

.SE-input-title{
    font-size: 25px !important;
    font-weight: 800 !important;
    margin-bottom: 10px;
    margin-top: 20px;
}

.SE-input{
    border: var.$main-blue  1px solid !important;
}

.SE-input-litlle-title{
    font-weight: 500 !important;
}

.SE-input-button{
    background-color: var.$main-blue  !important;
}

.SE-link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: none;
    background-color: var.$main-blue ;
    height: 54px;
    border-radius: 8px;
    color: white !important;
    font-size: 16px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 10px;
}

@media screen and (min-width: 800px) and (orientation: landscape){
    #SE-title{
        position: relative;
        text-align: center;
    }

    #SE-PP{
        padding-top: 50px;
        height: auto;
    }

    .SE-form{
        margin-left: 25vw;
        margin-right: 25vw;
        margin-bottom: 100px;
    }


}