.SQEV-container{

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 5vw;
    overflow-x: scroll;
    width: 100%;
    padding-right : 10vw;
    margin-bottom: 30px;


    .SQEV-btn-new{
        height: 60vw;
        width: 60vw;
        min-width: 60vw;
        min-height: 60vw;
        padding: 10px;
        border-radius: 10px;
        background-color: rgba(211, 211, 211, 0.486);
        border: 0px;
        font-size: 100px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .SQEV-item{
        height: 60vw;
        width: 60vw;
        min-width: 60vw;
        min-height: 60vw;
        padding: 10px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        background-size: cover;

        h3{
            color: white;
            font-family: "Inter", sans-serif;
            font-size: 32px;
            font-weight: 600;
            margin-top: 40%;
            text-overflow: ellipsis;
            overflow: hidden;
          }
        }

        .SQEV-bottom-container{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            margin-top: auto;

            button,a{
                background-color: rgba(128, 128, 128, 0.5);
                border: 0px;
                padding: auto;
                border-radius: 100px;
                width: 10vw;
                height: 10vw;
                color: white;
                display: flex;
                padding: 0px;

                svg{
                    margin: auto;
                }

                &:hover{
                    background-color: rgba(0, 0, 0, 0.5);
                }
            }
        }
    }



@media screen and (min-width: 800px) and (orientation: landscape){
    .SQEV-container{
        
        .SQEV-item{
            min-width: 250px;
            min-height: 250px;
            width: 250px;
            height: 250px;

            button,a{
                width: fit-content;
                height: fit-content;
                padding: 10px;
            }

            h3{
                margin-top: auto;
            }
        }

        .SQEV-btn-new{
            min-width: 250px;
            min-height: 250px;
            width: 250px;
            height: 250px;
        }
    }
}