@use "variables" as var;

#WO-title{
    color: var.$main-blue  ;
    width: 100%;
    background-color: white;
    position: fixed;
    padding-top: 35px;
    padding-left: var.$phone-main-margin;
    font-weight: 900;
    font-family: "epilogue", sans-serif;
}

#WO-main{
    margin-left: var.$phone-main-margin;
    margin-right: var.$phone-main-margin;
    overflow: hidden;
    padding-top: 150px;

    h2{
        font-family: "epilogue", sans-serif;
        font-size: 35px;
        text-align: center;
        font-weight: 700;
        color: var.$main-red;
        margin-bottom: 40px;
        margin-top: 40px;
    }
}

#WO-team{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.WO-team-item{
    width: 150px;
    height: 200px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;

    img{
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 50px;
    }

    h3{
        color: var.$main-dark;
        font-size: 20px;
        font-family: "epilogue", sans-serif;
        font-weight: 700;
    }

    h4{
        color: var.$main-dark;
        font-size: 15px;
        font-family: "epilogue", sans-serif;
        font-weight: 500;
        text-align: center;
    }
}

.WO-text{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: "epilogue", sans-serif;
    color: var.$main-dark;
    font-size: 15px;
    font-weight: 500;
}

#WO-warning{
    font-family: "epilogue", sans-serif;
    color: var.$main-dark;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    background-color: #f45b6881;
    padding: 15px;
    border-radius: 15px;
    margin-top: 40px;
}